@font-face {
  font-family: "iconfont"; /* Project id 4815320 */
  src: url('https://at.alicdn.com/t/c/font_4815320_vn0wy6tyn3.woff2?t=1737444894086') format('woff2'),
       url('https://at.alicdn.com/t/c/font_4815320_vn0wy6tyn3.woff?t=1737444894086') format('woff'),
       url('https://at.alicdn.com/t/c/font_4815320_vn0wy6tyn3.ttf?t=1737444894086') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 64px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-suoxiao:before {
  content: "\e672";
}

.icon-fangda:before {
  content: "\e66b";
}

.icon-zhengchangdianwei:before {
  content: "\e775";
}

.icon-yichangdianwei:before {
  content: "\e774";
}

.icon-dingwei:before {
  content: "\e619";
}
