@font-face {
  font-family: "iconfont"; /* Project id 4815320 */
  src: url('https://at.alicdn.com/t/c/font_4815320_eng5a13yvaa.woff2?t=1738068010129') format('woff2'),
       url('https://at.alicdn.com/t/c/font_4815320_eng5a13yvaa.woff?t=1738068010129') format('woff'),
       url('https://at.alicdn.com/t/c/font_4815320_eng5a13yvaa.ttf?t=1738068010129') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 64px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-channel:before {
  content: "\e600";
}

.icon-suoxiao:before {
  content: "\e672";
}

.icon-fangda:before {
  content: "\e66b";
}

.icon-zhengchangdianwei:before {
  content: "\e775";
}

.icon-yichangdianwei:before {
  content: "\e774";
}

.icon-dingwei:before {
  content: "\e619";
}
